#header {
    z-index: 100;
    background-color: #00583d;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
}

#title {
    font-size: 2vw;
    padding: 0.5vw;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    /* theme font below */
    font-family: Times New Roman;
}

.nav {
    list-style: none;
    text-align: center;
    background-color: #a3a2a2;
}

.nav li {
    display: inline;
}

.nav a {
    font-size: 1.5vw;
    padding: 0.75vw 1vw;
    font-weight: bold;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    /* theme color below */
    background-color: #00583d;
}