* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* theme font here? */
    font-family: 'Lato', sans-serif;
}

#main {
    transition: 0.3s;
    max-width: 1200px;
    align-content: center;
    margin: auto;
    margin-top: 17vw;
    color: black;
    padding: 0.5vw 1vw;
}

.bodyText{
    font-size: 1.5vw;
    line-height: 2.3vw;
}

@media screen and (max-width: 820px) {
    .container {
        width: 48%;
    }
}

@media screen and (max-width: 1000px) {
    #main {
        width: auto;
    }
}